<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="{{'Editar un asistencia' | translate}}" [options]="false">
      <form class="form-group" [formGroup]="asistenciaForm">

        <div class="form-group">
          <label for="asociado">{{ "Asociado" | translate }}</label>
          <div class="ng-autocomplete">
            <ng-autocomplete
              [data]="asociados"
              [searchKeyword]="keywordAsociado"  
              (selected)="selectEventAsociado($event)"
              (inputChanged)="onChangeAsociado($event)"
              (inputFocused)="onFocused($event)"
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate"
              formControlName="id_asociado"
            >
            </ng-autocomplete>
  
            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.documento"></a>
            </ng-template>
  
            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
        </div>
        <br>

        <div class="form-group">
          <label class="col-md-0.5">{{'Hora Entrada' | translate}}</label>
          <div class="col-md-5">
            <input class="form-control" required type="text" name="horaEntrada" id="horaEntrada"
              placeholder="{{'Hora Entrada' | translate}}" formControlName="horaEntrada">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-0.5">{{'Hora Salida' | translate}}</label>
          <div class="col-md-5">
            <input class="form-control" required type="text" name="horaSalida" id="horaSalida"
              placeholder="{{'Hora Salida' | translate}}" formControlName="horaSalida">
          </div>

        </div>
        <div class="form-group">
          <label class="col-md-0.5">{{'Fecha' | translate}}</label>
          <div class="col-md-5">
            <input class="form-control" required type="text" name="fecha" id="fecha"
              placeholder="{{'Fecha' | translate}}" formControlName="fecha">
          </div>
        </div>
       
        <div class="form-group">
          <label class="col-md-0.5">{{'Observacion' | translate}}</label>
          <div class="col-md-5">
            <input class="form-control" required type="text" name="observacion" id="observacion"
              placeholder="{{'Observacion' | translate}}" formControlName="observacion">
          </div>
        </div>
        
        <div class="form-group">
          <label for="condicion">{{ "Condicion" | translate }}</label>
          <div class="ng-autocomplete">
            <ng-autocomplete
              [data]="condiciones"
              [searchKeyword]="keywordCondicion"
              (selected)="selectEventCondicion($event)"
              (inputChanged)="onChangeCondicion($event)"
              (inputFocused)="onFocused($event)"
              [itemTemplate]="itemTemplateCondicion"
              [notFoundTemplate]="notFoundTemplateCondicion"
              formControlName="id_condicion"
            >
            </ng-autocomplete>

            <ng-template #itemTemplateCondicion let-item>
              <a [innerHTML]="item.descripcion"></a>
            </ng-template>

            <ng-template #notFoundTemplateCondicion let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
        </div>
          <br>

        <button type="submit" class="btn btn-primary mb-2" [disabled]="asistenciaForm.invalid"
          (click)="this.saveAsistencia()"> {{'Confirmar' | translate}}</button>
        <div class="form-group">
          <button class="btn btn-dark mb-2" (click)="goToList()">{{'Volver a la lista' | translate}}</button>
        </div>
      </form>
</app-card>
</div>
</div>
