<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="{{'Crear un nuevo AsociadoCondicion' | translate}}" [options]="false">
      <form class="form-group" [formGroup]="asociadoCondicionForm">

        <label for="asociado">{{ "Asociado" | translate }}</label>
        <div class="ng-autocomplete">
          <ng-autocomplete
            [data]="asociados"
            [searchKeyword]="keyword"
            (selected)="selectEventAsociado($event)"
            (inputChanged)="onChangeAsociado($event)"
            (inputFocused)="onFocused($event)"
            [itemTemplate]="itemTemplateAsociado"
            [notFoundTemplate]="notFoundTemplate"
          >
          </ng-autocomplete>

          <ng-template #itemTemplateAsociado let-item>
            <a [innerHTML]="item.nombre"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>

        <label for="condicion">{{ "Condicion" | translate }}</label>
        <div class="ng-autocomplete">
          <ng-autocomplete
            [data]="condiciones"
            [searchKeyword]="keyword"
            (selected)="selectEventCondicion($event)"
            (inputChanged)="onChangeCondicion($event)"
            (inputFocused)="onFocused($event)"
            [itemTemplate]="itemTemplateCondicion"
            [notFoundTemplate]="notFoundTemplate"
          >
          </ng-autocomplete>

          <ng-template #itemTemplateCondicion let-item>
            <a [innerHTML]="item.descripcion"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
     
      <div>
      </div>
      <button  type="submit" class="btn btn-primary mb-2" [disabled]="asociadoCondicionForm.invalid" (click)="this.addAsociadoCondicion()"> {{'Confirmar' | translate}}</button>
      <div class="form-group">
        <button class="btn btn-dark mb-2"  (click)="goToList()">{{'Volver a la lista' | translate}}</button>
       </div>
    </form>
</app-card>
</div>
</div>
